# Sampah Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# File & Folder runtime
uploads/
logs/
clipper_file/
hasil_identifikasi/
hasil_dekripsi/
original_images/
cache_history/
client_logs/

# File model berat
*.pt

# File log umum
*.log
